.carousel{
    /* border: 1px solid red; */
    overflow: hidden;
    height: 700px !important;
    /* width: 100% !important; */
    width: 1920px !important;
    margin: 0 auto;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}


.imageCarr{
    height:100%;
    width: 100%;
    margin: 0 auto;
    filter: brightness(50%);
    object-fit: contain;
}

.imageCardText{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    /* border: 1px solid #FFB200; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageCardTextInner{
    margin-top: 50%;
    height: 80px;
    /* border: 1px solid greenyellow; */
}

.imgTextTitle{
    font-family: Lato,sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #FFB200;
}

.imgText{
    font-family: Lato,sans-serif;
    font-style: italic;
    color: #FFB200;
}

#botaoInicial{
    margin-left: 35%;
}

