img{
    height: 50px;
    padding-left: 10px;
}

nav{
    height:70px !important;
    position: fixed;
    opacity: 1;
}

ul{
    padding-right: 20px;
}

.links{
    color: white;
}

.links:hover, .links:active
{
    color: #FFB200;
}


.bg-dark{
    transition: all 0.2s !important;
}

.bg-dark-neutral{
    transition: all 0.2s;
}

#buttonHamb
{
    border: none!important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* BARRA 1_______________________________________ */

 .bar1
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transition: all 1s;
    
}

.barra1Transform
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transform: rotate(45deg);
    transform-origin: 0 20%;
    transition: all 1s;
}

.barra1TransformFinal
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transform: rotate(0deg);
    transform-origin: 0 20%;
    transition: all 1s;
}


/* BARRA 2_______________________________________ */
.bar2
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transition: all 1s;
    opacity: 1;
}

.barra2Transform
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transition: all 1s;
    opacity: 0;
    
}

.barra2TransformFinal
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transition: all 1s;
    opacity: 1;
    
} 


/* BARRA 3_______________________________________ */

.bar3
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transition: all 1s;
}

.barra3Transform
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transform: rotate(-45deg);
    transform-origin: 0 20%;
    transition: all 1s;
}

.barra3TransformFinal
{
    width: 30px;
    height: 5px;
    background-color: #FFB200;
    margin-bottom: 5px;
    border-radius: 10%;
    transform: rotate(0deg);
    transform-origin: 0 20%;
    transition: all 1s;
}

.ckeck-color input {
    background-color: transparent;
    border-color: #FFB200 !important;
}

.ckeck-color input:checked {
    background-color: #FFB200;
    color: black;
    border-color: #FFB200 !important;
}

.ckeck-color input:focus {
    box-shadow: 0 0 0 .25rem rgba(253, 177, 0, .25)
}

.btn-login {
    position: absolute;
    right: 2%;
}


#logoUser
{
    margin-top: 40px;
}

#logoUser p
{
    color: #FFB200;
    margin-right: 5px;
}