.header-table {
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase;
    background: #FFB200 !important;
    text-align: center;
    border-color: #FFB200;
}
.body-table{
    color: #FFFFFF;
}

.class-table {
    background-color: #FFB200 !important;
}

.class-table table {
    border-radius: 10% !important;
}

.class-table td {
    margin: 0;
    padding: 0;
}