.header-table span {
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase;
}

.header-table tr {
    align-items: center;
    text-align: center;
}

.class-table td:hover {
    background-color: aqua;
}

.class-table table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10% !important;
}