.header-table {
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase;
    background: #fff3cd
}

.header-table tr {
    align-items: center;
    text-align: center;
}

.class-table {
    background-color: #1f2223;
}

.class-table table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10% !important;
}