#featured-3
{
    background-color: #1f2223;
}

#subTitle
{
    color: white;
    font-family: Lato,sans-serif;
    font-size: 23px;
    font-weight: lighter;
    text-align: end;

}

hr
{
    border: 1px solid #FFF;
}