#about {
    background-color: #1f2223;
}

#containerAbout
{
    background-color: transparent;
}

#containerAbout div, p
{
    color: #FFB200;
}

#containerAbout h1
{
    color: #ffffff;
}

.imageAbout{
    height: 100%;
    width: 25.5vw;
    padding-left: 0 !important;
    filter: brightness(50%);
    object-fit: cover !important;
    object-position: 100% 50% !important;
}