#about {
    background: rgb(33 37 41);
    /*box-shadow: 0 .25rem .75rem rgba(220, 216, 216, 0.05);*/
}

#containerAbout
{
    background-color: transparent;
}

#containerAbout div, p
{
    color: #FFB200;
}

#containerAbout h1
{
    color: #ffffff;
}

.imageAbout{
    height: 100%;
    width: 25.5vw;
    padding-left: 0 !important;
    filter: brightness(50%);
    object-fit: cover !important;
    object-position: 100% 50% !important;
}