.classroom {
    position: relative;
    cursor: pointer;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff3cd;
}
.no-classroom {
    position: relative;
    cursor: pointer;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #1f2223;
}

.classname {
    padding: 9px 0 2px 13px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 14px;
    color: #222;
}

.instructor {
    padding: 9px 0 2px 13px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 14px;
    color: #222;
}