.classroom {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 70px;
    background-color: #fff3cd;

}
.no-classroom {
    position: relative;
    cursor: pointer;
    height: 70px;
    background-color: rgb(33 37 41);
}

.classname {
    padding: 9px 0 2px 13px;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 14px;
    color: #222;
}

.instructor {
    padding: 7px 0 2px 13px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 14px;
    color: #222;
}

.icycle{
    border-left: 5px solid #FFB200;
}
.power-step{
    border-left: 5px solid #3a498d;
}
.bum-bum-fit{
    border-left: 5px solid #2d9d2f;
}
.zumba{
    border-left: 5px solid #a64e47;
}
.pump{
    border-left: 5px solid #72448c;
}
.kickbox{
    border-left: 5px solid #af622d;
}
.yoga{
    border-left: 5px solid #3fb3bd;
}
.jump{
    border-left: 5px solid #b74671;
}